<a routerLink="/semantic/license" m-flex class="element">
    <m-segment attached="top">
        <img src="https://ky-programming.de/images/logos/128.png">
    </m-segment>
    <m-segment attached="bottom" m-fill>
        <h3 m-header>License-To-Json (l2j)</h3>
        <p>Generate license information from your project</p>
    </m-segment>
</a>
<a href="https://generator.ky-programming.de/angular/controller" target="_blank" m-flex class="element">
    <m-segment attached="top">
        <img src="https://ky-programming.de/images/logos/128.png">
    </m-segment>
    <m-segment attached="bottom" m-fill>
        <h3 m-header>KY-Generator</h3>
        <p>Generate models and services from ASP.NET, SignalR, etc</p>
    </m-segment>
</a>
