<h1 m-header>
    Getting Started
    <div class="sub header">
        Getting up and running with Fomantic UI for Angular
    </div>
</h1>

<h2 m-header dividing>Installing</h2>
<m-segment>
    <pre><code class="code">npm i @mantic-ui/angular @mantic-ui/fomantic-ui-angular</code></pre>
</m-segment>

<h2 m-header dividing>Work-in-progress</h2>
<m-info>Currently we are not yet done. So please do not expect a perfect framework.</m-info>
<p>If you have a issue, look in our <a href="https://github.com/KY-Programming/mantic-ui/issues">issue tracker on github</a></p>
<p>To support us fork our <a href="https://github.com/KY-Programming/mantic-ui">github repository</a></p>
