<h1 class="ui header">
    Segment
    <div class="sub header">
        A segment is used to create a grouping of related content
    </div>
</h1>
<m-divider></m-divider>

<h2 class="ui dividing header">Types</h2>
<m-example header="Segment" description="A segment of content" type="html">
    <m-segment>
        <img src="/assets/images/short-paragraph.png">
    </m-segment>
</m-example>
<m-example header="Placeholder Segment"
    description="A segment can be used to reserve space for conditionally displayed content" type="html">
    <m-segment placeholder="true">
        <div class="ui icon header">
            <m-icon icon="pdf file outline"></m-icon>
            No documents are listed for this customer.
        </div>
        <m-button primary="true">Add Document</m-button>
    </m-segment>
</m-example>


<m-example header="Raised" description="A segment may be formatted to raise above the page" type="html">
    <m-segment raised>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
        quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
        ultricies mi vitae est. Mauris placerat eleifend leo.
    </m-segment>
</m-example>