<app-header header="Slider" subHeader="A slider allows a user to select between exclusive options"></app-header>

<m-tab-group secondary pointing class="page" selectByRoute>
    <m-tab label="Examples">
        <m-example header="Slider" description="A standard slider">
            <m-slider name="example">Accept terms and conditions</m-slider>
            <m-example-code [code]="standardCode"></m-example-code>
        </m-example>

        <m-example>
            <m-form>
                <m-field-group inline>
                    <label>How often do you use checkboxes?</label>
                    <m-field name="frequency" label="Once a week">
                        <m-slider checked></m-slider>
                    </m-field>
                    <m-field name="frequency" label="2-3 times a week">
                        <m-slider></m-slider>
                    </m-field>
                    <m-field name="frequency" label="Once a day">
                        <m-slider></m-slider>
                    </m-field>
                    <m-field name="frequency" label="Twice a day">
                        <m-slider></m-slider>
                    </m-field>
                </m-field-group>
            </m-form>
            <m-example-code [code]="inline"></m-example-code>
        </m-example>

        <m-example>
            <m-form>
                <m-field-group grouped>
                    <label>How often do you use checkboxes?</label>
                    <m-field name="frequency2" label="Once a week">
                        <m-slider checked></m-slider>
                    </m-field>
                    <m-field name="frequency2" label="2-3 times a week">
                        <m-slider></m-slider>
                    </m-field>
                    <m-field name="frequency2" label="Once a day">
                        <m-slider></m-slider>
                    </m-field>
                    <m-field name="frequency2" label="Twice a day">
                        <m-slider></m-slider>
                    </m-field>
                </m-field-group>
            </m-form>
            <m-example-code [code]="grouped"></m-example-code>
        </m-example>
    </m-tab>
    <m-tab label="States">
        <m-example header="Read-only" description="A slider can be read-only and unable to change states" [code]="readonlyCode">
            <m-slider readonly>Read Only</m-slider>
        </m-example>

        <m-example header="Checked" description="A slider can be checked" [code]="checkedCode">
            <m-slider checked>Active</m-slider>
        </m-example>

        <m-example header="Disabled" description="A slider can be read-only and unable to change states" [code]="disabledCode">
            <m-slider disabled>Disabled</m-slider>
        </m-example>
    </m-tab>
    <m-tab label="Variations">
        <m-example header="Fitted" description="A fitted slider does not leave padding for a label" [code]="fittedCode">
            <m-segment class="left floated">
                <m-slider fitted></m-slider>
            </m-segment>
        </m-example>
    </m-tab>
    <m-tab label="Binding">
        <m-example header="Bind state" description="All slider states can be bound" [code]="bindCode">
            <div class="toolbar ui form">
                <div class="three fields">
                    <div class="field">
                        <label>
                            Text
                        </label>
                        <m-input [(text)]="text"></m-input>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <m-toggle [(checked)]="readonly">Read Only</m-toggle>
                    </div>
                    <div class="field">
                        <m-toggle [(checked)]="checked">Checked</m-toggle>
                    </div>
                    <div class="field">
                        <m-toggle [(checked)]="disabled">Disabled</m-toggle>
                    </div>
                </div>
            </div>
            <m-divider></m-divider>
            <m-slider [readonly]="readonly" [(checked)]="checked" [disabled]="disabled">{{text}}</m-slider>
        </m-example>
    </m-tab>
</m-tab-group>
