<h1 m-header>
    Form
    <div class="sub header">
        A form displays a set of related user input fields in a structured way
    </div>
</h1>
<m-tab-group secondary pointing class="page" selectByRoute>
    <m-tab label="Examples">
        <m-example header="Form" description="A form">
            <m-form>
                <m-field name="first-name" label="First Name">
                    <m-input placeholder="First Name"></m-input>
                </m-field>
                <m-field name="last-name" label="Last Name">
                    <m-input placeholder="Last Name"></m-input>
                </m-field>
                <m-field>
                    <m-checkbox>I agree to the Terms and Conditions</m-checkbox>
                </m-field>
                <m-button type="submit">Submit</m-button>
            </m-form>
            <m-example-code [code]="code1"></m-example-code>
        </m-example>

        <m-example>
            <m-form>
                <h4 m-header dividing>Shipping Information</h4>
                <m-field label="Name">
                    <m-field-group>
                        <m-field name="shipping[first-name]">
                            <m-input placeholder="First Name"></m-input>
                        </m-field>
                        <m-field name="shipping[last-name]">
                            <m-input placeholder="First Name"></m-input>
                        </m-field>
                    </m-field-group>
                </m-field>
                <m-field label="Billing Address">
                    <m-field-group>
                        <m-field [size]="12" name="shipping[address]">
                            <m-input placeholder="Street Address"></m-input>
                        </m-field>
                        <m-field [size]="4" name="shipping[address-2]">
                            <m-input placeholder="Apt #"></m-input>
                        </m-field>
                    </m-field-group>
                </m-field>
                <m-field-group>
                    <m-field label="State">
                        <m-dropdown fluid [items]="states" placeholder="State"></m-dropdown>
                    </m-field>
                    <m-field label="Country">
                        <m-dropdown fluid search [items]="countries" placeholder="Select Country"></m-dropdown>
                    </m-field>
                </m-field-group>
                <h4 m-header dividing>Billing Information</h4>
                <m-field label="Card Type" name="card[type]">
                    <m-dropdown placeholder="Type">
                        <m-dropdown-item value="visa" icon="visa">Visa</m-dropdown-item>
                        <m-dropdown-item value="amex" icon="amex">American Express</m-dropdown-item>
                        <m-dropdown-item value="discover" icon="discover">Discover</m-dropdown-item>
                    </m-dropdown>
                </m-field>
                <m-field-group>
                    <m-field label="Card Number" name="card[number]" size="7">
                        <m-input placeholder="Card #" maxlength="16"></m-input>
                    </m-field>
                    <m-field size="3" name="card[cvc]" label="CVC">
                        <m-input placeholder="CVC" maxlength="3"></m-input>
                    </m-field>
                    <m-field size="6" label="Expiration">
                        <m-field-group>
                            <m-field>
                                <m-dropdown fluid search placeholder="Month">
                                    <m-dropdown-item value="1">January</m-dropdown-item>
                                    <m-dropdown-item value="2">February</m-dropdown-item>
                                    <m-dropdown-item value="3">March</m-dropdown-item>
                                    <m-dropdown-item value="4">April</m-dropdown-item>
                                    <m-dropdown-item value="5">May</m-dropdown-item>
                                    <m-dropdown-item value="6">June</m-dropdown-item>
                                    <m-dropdown-item value="7">July</m-dropdown-item>
                                    <m-dropdown-item value="8">August</m-dropdown-item>
                                    <m-dropdown-item value="9">September</m-dropdown-item>
                                    <m-dropdown-item value="10">October</m-dropdown-item>
                                    <m-dropdown-item value="11">November</m-dropdown-item>
                                    <m-dropdown-item value="12">December</m-dropdown-item>
                                </m-dropdown>
                            </m-field>
                            <m-field name="card[expire-year]">
                                <m-input maxlength="4" placeholder="Year"></m-input>
                            </m-field>
                        </m-field-group>
                    </m-field>
                </m-field-group>
                <h4 m-header dividing>Receipt</h4>
                <m-field label="Send Receipt To">
                    <m-dropdown fluid multiple search placeholder="Saved Contacts"></m-dropdown>
                </m-field>
                <m-segment>
                    <m-field name="gift">
                        <m-toggle>Do not include a receipt in the package</m-toggle>
                    </m-field>
                </m-segment>
                <m-button type="submit">Submit Order</m-button>
            </m-form>
            <m-example-code [code]="code2"></m-example-code>
        </m-example>
    </m-tab>
    <m-tab label="Content">
        <m-example header="Field" description="A field is a form element containing a label and an input" [code]="code3">
            <m-form>
                <m-field label="User Input">
                    <m-input></m-input>
                </m-field>
            </m-form>
        </m-example>

        <m-example header="Fields" description="A set of fields can appear grouped together" [code]="code4">
            <m-message positive ignored>
                Field groups automatically receive responsive styling, swapping to one field per row on mobile devices.
            </m-message>
            <m-form>
                <m-field-group>
                    <m-field name="first-name" label="First name">
                        <m-input placeholder="First Name"></m-input>
                    </m-field>
                    <m-field name="middle-name" label="Middle name">
                        <m-input placeholder="Middle Name"></m-input>
                    </m-field>
                    <m-field name="last-name" label="Last name">
                        <m-input placeholder="Last Name"></m-input>
                    </m-field>
                </m-field-group>
            </m-form>
        </m-example>

        <m-example [code]="code5">
            <m-form>
                <m-field-group inline>
                    <m-field name="first-name" label="Name" size="8">
                        <m-input placeholder="First Name"></m-input>
                    </m-field>
                    <m-field name="middle-name" size="3">
                        <m-input placeholder="Middle Name"></m-input>
                    </m-field>
                    <m-field name="last-name" size="5">
                        <m-input placeholder="Last Name"></m-input>
                    </m-field>
                </m-field-group>
            </m-form>
        </m-example>

        <m-example header="Text Area" description="A textarea can be used to allow for extended user input." [code]="code6">
            <m-info>To specify an approximate text area size use the <code>rows</code> attribute.</m-info>
            <m-form>
                <m-field name="text" label="Text">
                    <textarea></textarea>
                </m-field>
                <m-field name="short-text" label="Short Text">
                    <textarea rows="2"></textarea>
                </m-field>
            </m-form>
        </m-example>

        <m-example header="Checkbox" description="A form can contain a checkbox" [code]="code7">
            <m-form>
                <m-field label="Checkbox">
                    <m-checkbox></m-checkbox>
                </m-field>
                <m-field label="Slider">
                    <m-slider></m-slider>
                </m-field>
                <m-field label="Toggle">
                    <m-toggle></m-toggle>
                </m-field>
            </m-form>
        </m-example>

    </m-tab>
    <m-tab label="States">
        <m-example header="Loading" description="If a form is in loading state, it will automatically show a loading indicator." [code]="states1">
            <m-form loading>
                <m-field label="Email">
                    <m-input type="email" placeholder="hello@ky-programming.de"></m-input>
                </m-field>
            </m-form>
        </m-example>

        <m-example header="Success" description="If a form is in an success state, it will automatically show any success message blocks." [code]="states2">
            <m-form success>
                <m-field label="Email">
                    <m-input type="email" placeholder="hello@ky-programming.de"></m-input>
                </m-field>
                <m-message success header="Form Completed">
                    <p>You're all signed up for the newsletter.</p>
                </m-message>
                <m-button type="submit">Submit</m-button>
            </m-form>
        </m-example>

        <m-example header="Error" description="If a form is in an error state, it will automatically show any error message blocks." [code]="states3">
            <m-form error>
                <m-field label="Email">
                    <m-input type="email" placeholder="hello@ky-programming.de"></m-input>
                </m-field>
                <m-message error header="Action Forbidden">
                    <p>You can only sign up for an account once with a given e-mail address.</p>
                </m-message>
                <m-button type="submit">Submit</m-button>
            </m-form>
        </m-example>

        <m-example header="Warning" description="If a form is in warning state, it will automatically show any warning message block." [code]="states4">
            <m-form warning>
                <m-field label="Email">
                    <m-input type="email" placeholder="hello@ky-programming.de"></m-input>
                </m-field>
                <m-message warning header="Could you check something!">
                    <p>That e-mail has been subscribed, but you have not yet clicked the verification link in your e-mail.</p>
                </m-message>
                <m-button type="submit">Submit</m-button>
            </m-form>
        </m-example>

        <m-example header="Field Error" description="Individual fields may display an error state." [code]="states5">
            <m-form>
                <m-field-group>
                    <m-field label="First Name" error>
                        <m-input placeholder="First Name"></m-input>
                    </m-field>
                    <m-field label="Last Name">
                        <m-input placeholder="Last Name"></m-input>
                    </m-field>
                </m-field-group>
                <m-field label="Gender" error>
                    <m-dropdown placeholder="Select">
                        <m-dropdown-item value="male">Male</m-dropdown-item>
                        <m-dropdown-item value="female">Female</m-dropdown-item>
                    </m-dropdown>
                </m-field>
                <m-field label="I agree to the Terms and Conditions" inline error>
                    <m-checkbox></m-checkbox>
                </m-field>
            </m-form>
        </m-example>

        <m-example header="Disabled Field" description="Individual fields may be disabled" [code]="states6">
            <m-form>
                <m-field-group>
                    <m-field label="First Name" disabled>
                        <m-input placeholder="First Name"></m-input>
                    </m-field>
                    <m-field label="Last Name" disabled>
                        <m-input placeholder="Last Name"></m-input>
                    </m-field>
                </m-field-group>
            </m-form>
        </m-example>

        <m-example header="Read-Only Field" description="Individual fields may be read only" [code]="states7">
            <m-form>
                <m-field-group>
                    <m-field label="First Name" readonly>
                        <m-input placeholder="First Name"></m-input>
                    </m-field>
                    <m-field label="Last Name" readonly>
                        <m-input placeholder="Last Name"></m-input>
                    </m-field>
                </m-field-group>
            </m-form>
        </m-example>
    </m-tab>
    <!-- <m-tab header="Variations">
        <m-example header="Size" description="A form can vary in size">
TODO
        </m-example>
    </m-tab> -->
</m-tab-group>