m-box {
    color: #000000;
    background-color: #ffffff;
}

m-example m-button {
    margin-bottom: 0.5em;
}

m-toggle-button {
    width: 200px;
}

m-example::ng-deep .live {
    padding: 1px !important;
}