<h1 m-header>
    Button
    <div class="sub header">
        A button indicates a possible user action
    </div>
</h1>
<m-divider></m-divider>

<h2 m-header dividing>Types</h2>
<m-example header="Button" description="A standard button" [code]="button1Code" type="html">
    <m-button (click)="button1Click()">{{button1Text}}</m-button>
</m-example>
<m-example header="Emphasis" description="A button can be formatted to show different levels of emphasis"
           [code]="buttonEmphasisPrimaryCode" type="html">
    <m-button primary>Save</m-button>
    <m-button>Discard</m-button>
</m-example>
<m-example [code]="buttonEmphasisSecondaryCode" type="html">
    <m-button secondary>Okay</m-button>
    <m-button>Cancel</m-button>
</m-example>
<m-example header="Animated" description="A button can animate to show hidden content" [code]="buttonAnimatedCode"
           type="html">
    <m-button>
        Next
        <ng-template #animated>
            <m-icon icon="right arrow"></m-icon>
        </ng-template>
    </m-button>
    <m-button animation="vertical">
        <m-icon icon="shop"></m-icon>
        <ng-template #animated>
            Shop
        </ng-template>
    </m-button>
    <m-button animation="fade">
        Sign-up for a Pro account
        <ng-template #animated>
            $12.99 a month
        </ng-template>
    </m-button>
</m-example>
<m-example header="Labeled" description="A button can appear alongside a label" [code]="buttonLabeledCode" type="html">
    <m-button>
        <m-icon icon="heart"></m-icon> Like
        <ng-template #label>
            2,048
        </ng-template>
    </m-button>
    <m-button labelPosition="left" pointing="right">
        <m-icon icon="heart"></m-icon> Like
        <ng-template #label>
            2,048
        </ng-template>
    </m-button>
    <m-button labelPosition="left" iconOnly>
        <m-icon icon="fork"></m-icon>
        <ng-template #label>
            1,048
        </ng-template>
    </m-button>
</m-example>
<m-example [code]="buttonLabeledColoredCode" type="html">
    <m-button color="red" pointing="left">
        <m-icon icon="heart"></m-icon> Like
        <ng-template #label>
            1,048
        </ng-template>
    </m-button>
    <m-button color="blue" pointing="left" basic>
        <m-icon icon="fork"></m-icon> Forks
        <ng-template #label>
            1,048
        </ng-template>
    </m-button>
</m-example>
<m-example header="Icon" description="A button can have only an icon">
    <m-icon-button icon="cloud"></m-icon-button>
    <m-icon-button icon="cloud" color="red"></m-icon-button>
</m-example>
<m-example header="Labeled Icon" description="A button can use an icon as a label">
    <m-button icon="pause">
        Pause
    </m-button>
    <m-button icon="right arrow" labelPosition="right">
        Next
    </m-button>
</m-example>
<m-example header="Basic" description="A basic button is less pronounced">
    <m-button basic>
        <m-icon icon="user"></m-icon>
        Add Friend
    </m-button>
</m-example>
<m-example>
    <m-button primary basic>Primary</m-button>
    <m-button secondary basic>Secondary</m-button>
    <m-button positive basic>Positive</m-button>
    <m-button negative basic>Negative</m-button>
    <m-icon-button icon="cloud" basic></m-icon-button>
</m-example>
<m-example>
    <m-button color="red" basic>Red</m-button>
    <m-button color="orange" basic>Orange</m-button>
    <m-button color="yellow" basic>Yellow</m-button>
    <m-button color="olive" basic>Olive</m-button>
    <m-button color="green" basic>Green</m-button>
    <m-button color="teal" basic>Teal</m-button>
    <m-button color="blue" basic>Blue</m-button>
    <m-button color="violet" basic>Violet</m-button>
    <m-button color="purple" basic>Purple</m-button>
    <m-button color="pink" basic>Pink</m-button>
    <m-button color="brown" basic>Brown</m-button>
    <m-button color="grey" basic>Grey</m-button>
    <m-button color="black" basic>Black</m-button>
</m-example>
<m-example header="Inverted" description="A button can be formatted to appear on dark backgrounds">
    <m-segment invert>
        <m-button invert>Standard</m-button>
        <m-button primary invert>Primary</m-button>
        <m-button secondary invert>Secondary</m-button>
        <m-button color="red" invert>Red</m-button>
        <m-button color="orange" invert>Orange</m-button>
        <m-button color="yellow" invert>Yellow</m-button>
        <m-button color="olive" invert>Olive</m-button>
        <m-button color="green" invert>Green</m-button>
        <m-button color="teal" invert>Teal</m-button>
        <m-button color="blue" invert>Blue</m-button>
        <m-button color="violet" invert>Violet</m-button>
        <m-button color="purple" invert>Purple</m-button>
        <m-button color="pink" invert>Pink</m-button>
        <m-button color="brown" invert>Brown</m-button>
        <m-button color="grey" invert>Grey</m-button>
        <m-button color="black" invert>Black</m-button>
        <m-icon-button icon="cloud" invert></m-icon-button>
    </m-segment>
</m-example>
<m-example>
    <m-segment invert>
        <m-button invert basic>Basic</m-button>
        <m-button primary invert basic>Primary</m-button>
        <m-button secondary invert basic>Secondary</m-button>
        <m-button color="red" invert basic>Red</m-button>
        <m-button color="orange" invert basic>Orange</m-button>
        <m-button color="yellow" invert basic>Yellow</m-button>
        <m-button color="olive" invert basic>Olive</m-button>
        <m-button color="green" invert basic>Green</m-button>
        <m-button color="teal" invert basic>Teal</m-button>
        <m-button color="blue" invert basic>Blue</m-button>
        <m-button color="violet" invert basic>Violet</m-button>
        <m-button color="purple" invert basic>Purple</m-button>
        <m-button color="pink" invert basic>Pink</m-button>
        <m-button color="brown" invert basic>Brown</m-button>
        <m-button color="grey" invert basic>Grey</m-button>
        <m-button color="black" invert basic>Black</m-button>
        <m-icon-button icon="cloud" invert basic></m-icon-button>
    </m-segment>
</m-example>

<h2 m-header dividing>Groups</h2>
<m-example header="Buttons" description="Buttons can exist together as a group">
    <m-button-group>
        <m-button>One</m-button>
        <m-button>Two</m-button>
        <m-button>Three</m-button>
    </m-button-group>
</m-example>
<m-example header="Icon Buttons" description="Button groups can show groups of icons">
    <m-button-group>
        <m-icon-button icon="align left"></m-icon-button>
        <m-icon-button icon="align center"></m-icon-button>
        <m-icon-button icon="align right"></m-icon-button>
        <m-icon-button icon="align justify"></m-icon-button>
    </m-button-group>
    <m-button-group>
        <m-icon-button icon="bold"></m-icon-button>
        <m-icon-button icon="underline"></m-icon-button>
        <m-icon-button icon="text width"></m-icon-button>
    </m-button-group>
</m-example>

<h2 m-header dividing>Content</h2>
<m-example header="Conditionals" description="Button groups can contain conditionals">
    <m-button-group>
        <m-button>Cancel</m-button>
        <m-or></m-or>
        <m-button positive>Save</m-button>
    </m-button-group>
</m-example>
<m-example>
    <m-button-group>
        <m-button>un</m-button>
        <m-or data-text="ou"></m-or>
        <m-button positive>deux</m-button>
    </m-button-group>
</m-example>

<h2 m-header dividing>States</h2>
<m-example header="Active" description="A button can show it is currently the active user selection">
    <m-button active>
        <m-icon icon="user"></m-icon>
        Follow
    </m-button>
</m-example>
<m-example header="Disabled" description="A button can show it is currently unable to be interacted with">
    <m-button disabled>
        <m-icon icon="user"></m-icon>
        Followed
    </m-button>
</m-example>
<m-example header="Loading" description="A button can show a loading indicator">
    <m-button loading>Loading</m-button>
    <m-button basic loading>Loading</m-button>
    <m-button primary loading>Loading</m-button>
    <m-button secondary loading>Loading</m-button>
    <m-button positive loading>Loading</m-button>
    <m-button negative loading>Loading</m-button>
    <m-button color="purple" loading>Loading</m-button>
</m-example>

<h2 m-header dividing>Variations</h2>
<m-example header="Social" description="A button can be formatted to link to a social website">
    <m-button social="Facebook"></m-button>
    <m-button social="Twitter"></m-button>
    <m-button social="Google Plus"></m-button>
    <m-button social="VK"></m-button>
    <m-button social="LinkedIn"></m-button>
    <m-button social="Instagram"></m-button>
    <m-button social="YouTube"></m-button>
</m-example>
<m-example header="Size" description="A button can have different sizes">
    <m-button size="mini">Mini</m-button>
    <m-button size="tiny">Tiny</m-button>
    <m-button size="small">Small</m-button>
    <m-button size="medium">Medium</m-button>
    <m-button size="large">Large</m-button>
    <m-button size="big">Big</m-button>
    <m-button size="huge">Huge</m-button>
    <m-button size="massive">Massive</m-button>
</m-example>
<m-example header="Colored" description="A button can have different colors">
    <m-button color="red">Red</m-button>
    <m-button color="orange">Orange</m-button>
    <m-button color="yellow">Yellow</m-button>
    <m-button color="olive">Olive</m-button>
    <m-button color="green">Green</m-button>
    <m-button color="teal">Teal</m-button>
    <m-button color="blue">Blue</m-button>
    <m-button color="violet">Violet</m-button>
    <m-button color="purple">Purple</m-button>
    <m-button color="pink">Pink</m-button>
    <m-button color="brown">Brown</m-button>
    <m-button color="grey">Grey</m-button>
    <m-button color="black">Black</m-button>
</m-example>
<m-example header="Compact" description="A button can reduce its padding to fit into tighter spaces">
    <m-button size="compact">Hold</m-button>
    <m-icon-button size="compact" icon="pause"></m-icon-button>
    <m-button size="compact" icon="pause">
        Pause
    </m-button>
</m-example>
<m-example header="Toggle" description="A button can be formatted to toggle on and off">
    <m-toggle-button>
        Vote
        <ng-template #active>
            Voted
        </ng-template>
    </m-toggle-button>
</m-example>
<m-example header="Positive" description="A button can hint towards a positive consequence">
    <m-button positive>Positive Button</m-button>
</m-example>
<m-example header="Negative" description="A button can hint towards a negative consequence">
    <m-button negative>Negative Button</m-button>
</m-example>
<m-example header="Fluid" description="A button can take the width of its container">
    <m-button class="fluid">Fits container</m-button>
</m-example>
<m-example header="Circular" description="A button can be circular">
    <m-icon-button class="circular" icon="settings"></m-icon-button>
</m-example>
<m-example>
    <m-icon-button class="circular" social="facebook"></m-icon-button>
    <m-icon-button class="circular" social="twitter"></m-icon-button>
    <m-icon-button class="circular" social="google plus"></m-icon-button>
    <m-icon-button class="circular" social="vk"></m-icon-button>
    <m-icon-button class="circular" social="linkedin"></m-icon-button>
    <m-icon-button class="circular" social="instagram"></m-icon-button>
    <m-icon-button class="circular" social="youtube"></m-icon-button>
</m-example>
<m-example header="Vertically Attached" description="A button can be attached to the top or bottom of other content">
    <m-button class="top attached">Top</m-button>
    <m-segment class="attached">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </m-segment>
    <m-button class="bottom attached">Bottom</m-button>
</m-example>
<m-example>
    <m-button-group class="two top attached">
        <m-button>One</m-button>
        <m-button>Two</m-button>
    </m-button-group>
    <m-segment class="attached">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </m-segment>
    <m-button-group class="two bottom attached">
        <m-button>One</m-button>
        <m-button>Two</m-button>
    </m-button-group>
</m-example>
<m-example header="Horizontally Attached" description="A button can be attached to the left or right of other content">
    <m-button class="left attached">Left</m-button>
    <m-button class="right attached">Right</m-button>
</m-example>

<h2 m-header dividing>Group Variations</h2>
<m-example header="Vertical Buttons" description="Groups can be formatted to appear vertically">
    <m-button-group class="vertical">
        <m-button>Feed</m-button>
        <m-button>Messages</m-button>
        <m-button>Events</m-button>
        <m-button>Photos</m-button>
    </m-button-group>
</m-example>
<m-example header="Icon Buttons" description="Groups can be formatted as icons">
    <m-button-group>
        <m-icon-button icon="play"></m-icon-button>
        <m-icon-button icon="pause"></m-icon-button>
        <m-icon-button icon="shuffle"></m-icon-button>
    </m-button-group>
</m-example>
<m-example header="Labeled Icon Buttons" description="Groups can be formatted as labeled icons">
    <m-button-group class="vertical">
        <m-button icon="pause">Pause</m-button>
        <m-button icon="play">Play</m-button>
        <m-button icon="shuffle">Shuffle</m-button>
    </m-button-group>
</m-example>
<m-example header="Mixed Group" description="Groups can be formatted to use multiple button types together">
    <m-button-group>
        <m-button icon="left chevron">Back</m-button>
        <m-button>
            <m-icon icon="stop"></m-icon>
            Stop
        </m-button>
        <m-button icon="right chevron" labelPosition="right">Forward</m-button>
    </m-button-group>
</m-example>
<m-example header="Equal Width" description="Groups can have their widths divided evenly">
    <m-button-group class="five">
        <m-button>Overview</m-button>
        <m-button>Specs</m-button>
        <m-button>Warranty</m-button>
        <m-button>Reviews</m-button>
        <m-button>Support</m-button>
    </m-button-group>
    <m-button-group class="three">
        <m-button>Overview</m-button>
        <m-button>Specs</m-button>
        <m-button>Support</m-button>
    </m-button-group>
</m-example>
<m-example header="Colored Buttons" description="Groups can have a shared color">
    <m-button-group class="blue">
        <m-button>One</m-button>
        <m-button>Two</m-button>
        <m-button>Three</m-button>
    </m-button-group>
</m-example>
<m-example header="Basic Buttons" description="A button group can be less pronounced">
    <m-button-group class="basic">
        <m-button>One</m-button>
        <m-button>Two</m-button>
        <m-button>Three</m-button>
    </m-button-group>
    <m-divider></m-divider>
    <m-button-group class="basic vertical">
        <m-button>One</m-button>
        <m-button>Two</m-button>
        <m-button>Three</m-button>
    </m-button-group>
</m-example>
<m-example>
    <m-button-group>
        <m-button color="red" basic>One</m-button>
        <m-button color="blue" basic>Two</m-button>
        <m-button color="green" basic>Three</m-button>
    </m-button-group>
</m-example>
<m-example header="Group Sizes" description="Groups can have a shared size">
    <m-button-group class="large">
        <m-button>One</m-button>
        <m-button>Two</m-button>
        <m-button>Three</m-button>
    </m-button-group>
</m-example>
<m-example>
    <m-button-group class="small basic">
        <m-icon-button icon="file"></m-icon-button>
        <m-icon-button icon="save"></m-icon-button>
        <m-icon-button icon="upload"></m-icon-button>
        <m-icon-button icon="download"></m-icon-button>
    </m-button-group>
</m-example>
<m-example>
    <m-button-group class="large">
        <m-button>One</m-button>
        <m-or></m-or>
        <m-button>Two</m-button>
    </m-button-group>
</m-example>