<h1 m-header>
    Getting Started
    <div class="sub header">
        Getting up and running with Semantic UI for Angular
    </div>
</h1>

<h2 m-header dividing>Installing</h2>
<m-example-code>
    npm i @mantic-ui/angular @mantic-ui/semantic-ui-angular
</m-example-code>
<m-example-code label="app.module.ts" [code]="appModuleCode" [languages]="['ts']"></m-example-code>

<h3 m-header>Import styles in styles.scss</h3>
<m-example-code [code]="styleScssCode" [languages]="['scss']"></m-example-code>

<h3 m-header>Import styles in angular.json</h3>
<m-example-code [code]="angularJsonCode" [languages]="['js']"></m-example-code>

<h3 m-header>Use a CDN</h3>
<m-example-code>{{code}}</m-example-code>
<p>Or install via <a href="https://semantic-ui.com/introduction/getting-started.html">Semantic Docs</a></p>

<h2 m-header dividing>Work-in-progress</h2>
<m-info>Currently we are not yet done. So please do not expect a perfekt framework.</m-info>
<p>If you have a issue, look in our <a href="https://github.com/KY-Programming/mantic-ui/issues">issue tracker on github</a></p>
<p>Zo support us fork our <a href="https://github.com/KY-Programming/mantic-ui">github repositiory</a></p>