<h1 m-header>
    Getting Started
    <div class="sub header">
        Getting up and running with Semantic UI for Angular
    </div>
</h1>

<h2 m-header dividing>Installing</h2>
<m-example-code>
    npm i @mantic-ui/angular @mantic-ui/semantic-ui-angular
</m-example-code>
<m-warning>
    Currently <code>@mantic-ui/semantic-ui-angular</code> package is not ready so you have to add <code>semantic.min.css</code> on your own
</m-warning>
<p>Use a CDN</p>
<m-example-code>{{code}}</m-example-code>
<p>Or install via <a href="https://semantic-ui.com/introduction/getting-started.html">Semantic Docs</a></p>

<h2 m-header dividing>Work-in-progress</h2>
<m-info>Currently we are not yet done. So please do not expect a perfekt framework.</m-info>
<p>If you have a issue, look in our <a href="https://github.com/KY-Programming/mantic-ui/issues">issue tracker on github</a></p>
<p>Zo support us fork our <a href="https://github.com/KY-Programming/mantic-ui">github repositiory</a></p>