<h1 m-header>
    Getting Started
    <div class="sub header">
        Getting up and running with Semantic UI for Angular
    </div>
</h1>

<m-tab-group secondary pointing class="page" selectByRoute>
    <m-tab label="Installing">
        <p>Install base package for angular
            <m-npm package="@mantic-ui/angular"></m-npm>
            and Semantic UI theme
            <m-npm package="@mantic-ui/semantic-ui-angular"></m-npm>
        </p>
        <m-npm-install package="@mantic-ui/angular @mantic-ui/semantic-ui-angular"></m-npm-install>
        <h3>Import theme in AppModule</h3>
        <m-example-code label="app.module.ts" [code]="appModuleCode" [languages]="['ts']"></m-example-code>
        <h3>Apply style in AppComponent</h3>
        <m-example-code label="app.component.html" [code]="appComponentHtml" [languages]="['html']"></m-example-code>
        <p>As alternative for &lt;m-semantic-ui-theme&gt;, you can use a CDN</p>
        <m-example-code>{{code}}</m-example-code>
        <p>Or install via
            <a href="https://semantic-ui.com/introduction/getting-started.html">Semantic Docs</a>
        </p>
        <h3>Configure package assets usage</h3>
        <m-example-code label="angular.json" [code]="angularJson" [languages]="['json']"></m-example-code>

        <h2 m-header dividing>Work-in-progress</h2>
        <m-info>Currently we are not yet done. So please do not expect a perfect framework.</m-info>
        <p>If you have a issue, look in our
            <a href="https://github.com/KY-Programming/mantic-ui/issues">issue tracker on github</a>
        </p>
        <p>To support us fork our
            <a href="https://github.com/KY-Programming/mantic-ui">github repository</a>
        </p>
        <p>
            <a href="https://support.ky-programming.de">Direct contact</a> (German, English) via
            <a href="https://mail.support.ky-programming.de">email</a>,
            <a href="https://whatsapp.support.ky-programming.de">WhatsApp</a> or join our
            <a href="https://discord.mantic-ui.ky-programming.de">Discord server</a>
        </p>

    </m-tab>
</m-tab-group>
