<h1 m-header>
    Textarea
    <div class="sub header">
        An area for text
    </div>
</h1>
<m-tab-group secondary pointing class="page" selectByRoute>
    <m-tab label="Examples">
        <m-example header="Textarea" description="A input for long or multiline texts">
            <m-textarea placeholder="Enter a long text..."></m-textarea>
            <m-example-code [code]="textCode"></m-example-code>
        </m-example>
    </m-tab>
    <m-tab label="Variations">
        <m-example header="Inverted" description="A checkbox can be displayed with inverted colors" [code]="inverted">
            <m-segment inverted>
                <m-textarea inverted placeholder="Inverted"></m-textarea>
            </m-segment>
        </m-example>
    </m-tab>
</m-tab-group>
