<h1 m-header>
    Modal
    <div class="sub header">
        A modal displays content that temporarily blocks interactions with the main view of a site
    </div>
</h1>
<m-divider></m-divider>

<h2 m-header dividing>Types</h2>
<m-example header="Modal" description="A standard modal" type="html" [code]="standardCode">
    <m-button (click)="showModal = true">Open Modal</m-button>
    <m-modal *ngIf="showModal" (close)="showModal = false" imageContent>
        <m-modal-header>
            <m-icon icon="question"></m-icon> Profile Picture
        </m-modal-header>
        <div class="ui medium image">
            <img src="/assets/images/avatar/large/rachel.png">
        </div>
        <div class="description">
            <div class="ui header">We've auto-chosen a profile image for you.</div>
            <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
            <p>Is it okay to use this photo?</p>
        </div>
        <m-modal-footer>
            <m-button color="black">Nope</m-button>
            <m-button icon="checkmark" labelPosition="right" primary>Yep, that's me</m-button>
        </m-modal-footer>
    </m-modal>
</m-example>

<m-example description="The default modal behaviour" [code]="defaultCode">
    <m-button (click)="showDefault = true">Open Default</m-button>
    <m-modal *ngIf="showDefault" header="Some header" (close)="showDefault = false">
        Some content
    </m-modal>
</m-example>

<m-example header="Basic" description="A modal can reduce its complexity">
    <m-button (click)="showBasic = true">Open Basic</m-button>
    <m-modal *ngIf="showBasic" basic (close)="showBasic = false">
        <m-modal-header>
            <i class="archive icon"></i>
            Archive Old Messages
        </m-modal-header>
        <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
        <m-modal-footer>
            <m-button color="red" basic inverted>
                <m-icon icon="remove"></m-icon> No
            </m-button>
            <m-button color="green" inverted>
                <m-icon icon="checkmark"></m-icon> Yes
            </m-button>
        </m-modal-footer>
    </m-modal>

    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="archive icon"></i>
            Archive Old Messages
        </div>
        <div class="content">
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                No
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>
</m-example>


<h2 m-header dividing>Content</h2>
<m-example header="Header" description="A modal can have a text header">
    <m-example-code>{{textHeaderCode}}</m-example-code>
    <m-button (click)="showDefault = true">Open Default</m-button>
</m-example>
<m-example description="A modal can have a templated header">
    <m-example-code>{{templatedHeaderCode}}</m-example-code>
    <m-button (click)="showModal = true">Open Modal</m-button>
</m-example>
<m-example description="A modals 'X' button can be removed. This also disables the click on the background">
    <m-button (click)="showHiddenClose = true">Open without 'x'</m-button>
    <m-modal *ngIf="showHiddenClose" header="Some header" [showClose]="false" (close)="showHiddenClose = false">
        Some content
    </m-modal>
</m-example>