<h1 m-header>
    Button
    <div class="sub header">
        A button indicates a possible user action
    </div>
</h1>
<m-tab-group secondary pointing class="page" selectByRoute>
    <m-tab label="Examples">
        <m-example header="Button" description="A button">
            <m-button (click)="button1Click()">{{button1Text}}</m-button>
            <m-example-code [code]="button1Code"></m-example-code>
        </m-example>
        <m-example description="Use a standard button-tag">
            <button m-button>Follow</button>
            <m-example-code [code]="button2Code"></m-example-code>
        </m-example>
        <m-example description="Use a standard a-tag">
            <a [routerLink]="['#test']" m-button>Go to</a>
            <m-example-code [code]="linkButtonCode"></m-example-code>
        </m-example>
    </m-tab>
    <m-tab label="States">
        <m-example header="Active" description="A button can show it is currently the active user selection">
            <m-button active>
                <m-icon icon="user"></m-icon>
                Follow
            </m-button>
        </m-example>
        <m-example header="Disabled" description="A button can show it is currently unable to be interacted with">
            <m-button disabled>
                <m-icon icon="user"></m-icon>
                Followed
            </m-button>
        </m-example>
        <m-example header="Loading" description="A button can show a loading indicator">
            <m-button loading>Loading</m-button>
            <m-button basic loading>Loading</m-button>
            <m-button primary loading>Loading</m-button>
            <m-button secondary loading>Loading</m-button>
            <m-button positive loading>Loading</m-button>
            <m-button negative loading>Loading</m-button>
            <m-button color="purple" loading>Loading</m-button>
        </m-example>
    </m-tab>
    <m-tab label="Variations">
        <m-example header="Emphasis" description="A button can be formatted to show different levels of emphasis" [code]="buttonEmphasisPrimaryCode">
            <m-button primary>Save</m-button>
            <m-button>Discard</m-button>
        </m-example>
        <m-example [code]="buttonEmphasisSecondaryCode">
            <m-button secondary>Okay</m-button>
            <m-button>Cancel</m-button>
        </m-example>
        <m-example header="Animated" description="A button can animate to show hidden content" [code]="buttonAnimatedCode">
            <m-button>
                Next
                <m-animation>
                    <m-icon icon="right arrow"></m-icon>
                </m-animation>
            </m-button>
            <m-button>
                <m-icon icon="shop"></m-icon>
                <m-animation direction="vertical">
                    Shop
                </m-animation>
            </m-button>
            <m-button>
                Sign-up for a Pro account
                <m-animation direction="fade">
                    $12.99 a month
                </m-animation>
            </m-button>
        </m-example>
        <m-example header="Labeled" description="A button can appear alongside a label" [code]="buttonLabeledCode">
            <m-button>
                <m-icon icon="heart"></m-icon> Like
                <m-label basic>
                    2,048
                </m-label>
            </m-button>
            <m-button>
                <m-icon icon="heart"></m-icon> Like
                <m-label basic position="left" pointing="right">
                    2,048
                </m-label>
            </m-button>
            <m-button icon="fork">
                <m-label basic position="left">
                    1,048
                </m-label>
            </m-button>
        </m-example>
        <m-example [code]="buttonLabeledColoredCode">
            <m-button color="red">
                <m-icon icon="heart"></m-icon> Like
                <m-label basic color="red" pointing="left">
                    1,048
                </m-label>
            </m-button>
            <m-button color="blue" basic>
                <m-icon icon="fork"></m-icon> Forks
                <m-label basic color="blue" pointing="left">
                    1,048
                </m-label>
            </m-button>
        </m-example>
        <m-example header="Icon" description="A button can have only an icon">
            <m-icon-button icon="cloud"></m-icon-button>
            <m-icon-button icon="cloud" color="red"></m-icon-button>
        </m-example>
        <m-example header="Labeled Icon" description="A button can use an icon as a label">
            <m-button icon="pause">
                Pause
            </m-button>
            <m-button icon="right arrow" iconPosition="right">
                Next
            </m-button>
        </m-example>
        <m-example header="Basic" description="A basic button is less pronounced">
            <m-button basic>
                <m-icon icon="user"></m-icon>
                Add Friend
            </m-button>
        </m-example>
        <m-example>
            <m-button primary basic>Primary</m-button>
            <m-button secondary basic>Secondary</m-button>
            <m-button positive basic>Positive</m-button>
            <m-button negative basic>Negative</m-button>
            <m-icon-button icon="cloud" basic></m-icon-button>
        </m-example>
        <m-example>
            <m-button color="red" basic>Red</m-button>
            <m-button color="orange" basic>Orange</m-button>
            <m-button color="yellow" basic>Yellow</m-button>
            <m-button color="olive" basic>Olive</m-button>
            <m-button color="green" basic>Green</m-button>
            <m-button color="teal" basic>Teal</m-button>
            <m-button color="blue" basic>Blue</m-button>
            <m-button color="violet" basic>Violet</m-button>
            <m-button color="purple" basic>Purple</m-button>
            <m-button color="pink" basic>Pink</m-button>
            <m-button color="brown" basic>Brown</m-button>
            <m-button color="grey" basic>Grey</m-button>
            <m-button color="black" basic>Black</m-button>
        </m-example>
        <m-example header="Inverted" description="A button can be formatted to appear on dark backgrounds">
            <m-segment inverted>
                <m-button inverted>Standard</m-button>
                <m-button primary inverted>Primary</m-button>
                <m-button secondary inverted>Secondary</m-button>
                <m-button color="red" inverted>Red</m-button>
                <m-button color="orange" inverted>Orange</m-button>
                <m-button color="yellow" inverted>Yellow</m-button>
                <m-button color="olive" inverted>Olive</m-button>
                <m-button color="green" inverted>Green</m-button>
                <m-button color="teal" inverted>Teal</m-button>
                <m-button color="blue" inverted>Blue</m-button>
                <m-button color="violet" inverted>Violet</m-button>
                <m-button color="purple" inverted>Purple</m-button>
                <m-button color="pink" inverted>Pink</m-button>
                <m-button color="brown" inverted>Brown</m-button>
                <m-button color="grey" inverted>Grey</m-button>
                <m-button color="black" inverted>Black</m-button>
                <m-icon-button icon="cloud" inverted></m-icon-button>
            </m-segment>
        </m-example>
        <m-example>
            <m-segment inverted>
                <m-button inverted basic>Basic</m-button>
                <m-button primary inverted basic>Primary</m-button>
                <m-button secondary inverted basic>Secondary</m-button>
                <m-button color="red" inverted basic>Red</m-button>
                <m-button color="orange" inverted basic>Orange</m-button>
                <m-button color="yellow" inverted basic>Yellow</m-button>
                <m-button color="olive" inverted basic>Olive</m-button>
                <m-button color="green" inverted basic>Green</m-button>
                <m-button color="teal" inverted basic>Teal</m-button>
                <m-button color="blue" inverted basic>Blue</m-button>
                <m-button color="violet" inverted basic>Violet</m-button>
                <m-button color="purple" inverted basic>Purple</m-button>
                <m-button color="pink" inverted basic>Pink</m-button>
                <m-button color="brown" inverted basic>Brown</m-button>
                <m-button color="grey" inverted basic>Grey</m-button>
                <m-button color="black" inverted basic>Black</m-button>
                <m-icon-button icon="cloud" inverted basic></m-icon-button>
            </m-segment>
        </m-example>
        <m-example header="Social" description="A button can be formatted to link to a social website">
            <m-button social="Facebook"></m-button>
            <m-button social="Twitter"></m-button>
            <m-button social="Google Plus"></m-button>
            <m-button social="VK"></m-button>
            <m-button social="LinkedIn"></m-button>
            <m-button social="Instagram"></m-button>
            <m-button social="YouTube"></m-button>
        </m-example>
        <m-example header="Size" description="A button can have different sizes">
            <m-button size="mini">Mini</m-button>
            <m-button size="tiny">Tiny</m-button>
            <m-button size="small">Small</m-button>
            <m-button size="medium">Medium</m-button>
            <m-button size="large">Large</m-button>
            <m-button size="big">Big</m-button>
            <m-button size="huge">Huge</m-button>
            <m-button size="massive">Massive</m-button>
        </m-example>
        <m-example header="Colored" description="A button can have different colors">
            <m-button color="red">Red</m-button>
            <m-button color="orange">Orange</m-button>
            <m-button color="yellow">Yellow</m-button>
            <m-button color="olive">Olive</m-button>
            <m-button color="green">Green</m-button>
            <m-button color="teal">Teal</m-button>
            <m-button color="blue">Blue</m-button>
            <m-button color="violet">Violet</m-button>
            <m-button color="purple">Purple</m-button>
            <m-button color="pink">Pink</m-button>
            <m-button color="brown">Brown</m-button>
            <m-button color="grey">Grey</m-button>
            <m-button color="black">Black</m-button>
        </m-example>
        <m-example header="Compact" description="A button can reduce its padding to fit into tighter spaces">
            <m-button size="compact">Hold</m-button>
            <m-icon-button size="compact" icon="pause"></m-icon-button>
            <m-button size="compact" icon="pause">
                Pause
            </m-button>
        </m-example>
        <m-example header="Toggle" description="A button can be formatted to toggle on and off">
            <m-toggle-button>
                Vote
                <ng-template #active>
                    Voted
                </ng-template>
            </m-toggle-button>
        </m-example>
        <m-example header="Positive" description="A button can hint towards a positive consequence">
            <m-button positive>Positive Button</m-button>
        </m-example>
        <m-example header="Negative" description="A button can hint towards a negative consequence">
            <m-button negative>Negative Button</m-button>
        </m-example>
        <m-example header="Fluid" description="A button can take the width of its container">
            <m-button class="fluid">Fits container</m-button>
        </m-example>
        <m-example header="Circular" description="A button can be circular">
            <m-icon-button class="circular" icon="settings"></m-icon-button>
        </m-example>
        <m-example>
            <m-icon-button class="circular" social="facebook"></m-icon-button>
            <m-icon-button class="circular" social="twitter"></m-icon-button>
            <m-icon-button class="circular" social="google plus"></m-icon-button>
            <m-icon-button class="circular" social="vk"></m-icon-button>
            <m-icon-button class="circular" social="linkedin"></m-icon-button>
            <m-icon-button class="circular" social="instagram"></m-icon-button>
            <m-icon-button class="circular" social="youtube"></m-icon-button>
        </m-example>
        <m-example header="Vertically Attached" description="A button can be attached to the top or bottom of other content">
            <m-button class="top attached">Top</m-button>
            <m-segment class="attached">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                    sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </m-segment>
            <m-button class="bottom attached">Bottom</m-button>
        </m-example>
        <m-example>
            <m-button-group class="two top attached">
                <m-button>One</m-button>
                <m-button>Two</m-button>
            </m-button-group>
            <m-segment class="attached">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                    sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </m-segment>
            <m-button-group class="two bottom attached">
                <m-button>One</m-button>
                <m-button>Two</m-button>
            </m-button-group>
        </m-example>
        <m-example header="Horizontally Attached" description="A button can be attached to the left or right of other content">
            <m-button class="left attached">Left</m-button>
            <m-button class="right attached">Right</m-button>
        </m-example>
    </m-tab>
    <m-tab label="Groups">
        <m-example header="Buttons" description="Buttons can exist together as a group">
            <m-button-group>
                <m-button>One</m-button>
                <m-button>Two</m-button>
                <m-button>Three</m-button>
            </m-button-group>
        </m-example>
        <m-example header="Icon Buttons" description="Button groups can show groups of icons">
            <m-button-group>
                <m-icon-button icon="align left"></m-icon-button>
                <m-icon-button icon="align center"></m-icon-button>
                <m-icon-button icon="align right"></m-icon-button>
                <m-icon-button icon="align justify"></m-icon-button>
            </m-button-group>
            <m-button-group>
                <m-icon-button icon="bold"></m-icon-button>
                <m-icon-button icon="underline"></m-icon-button>
                <m-icon-button icon="text width"></m-icon-button>
            </m-button-group>
        </m-example>

        <m-example header="Conditionals" description="Button groups can contain conditionals">
            <m-button-group>
                <m-button>Cancel</m-button>
                <m-or></m-or>
                <m-button positive>Save</m-button>
            </m-button-group>
        </m-example>
        <m-example>
            <m-button-group>
                <m-button>un</m-button>
                <m-or data-text="ou"></m-or>
                <m-button positive>deux</m-button>
            </m-button-group>
        </m-example>

        <h2 m-header dividing>Group Variations</h2>
        <m-example header="Vertical Buttons" description="Groups can be formatted to appear vertically">
            <m-button-group class="vertical">
                <m-button>Feed</m-button>
                <m-button>Messages</m-button>
                <m-button>Events</m-button>
                <m-button>Photos</m-button>
            </m-button-group>
        </m-example>
        <m-example header="Icon Buttons" description="Groups can be formatted as icons">
            <m-button-group>
                <m-icon-button icon="play"></m-icon-button>
                <m-icon-button icon="pause"></m-icon-button>
                <m-icon-button icon="shuffle"></m-icon-button>
            </m-button-group>
        </m-example>
        <m-example header="Labeled Icon Buttons" description="Groups can be formatted as labeled icons">
            <m-button-group class="vertical">
                <m-button icon="pause">Pause</m-button>
                <m-button icon="play">Play</m-button>
                <m-button icon="shuffle">Shuffle</m-button>
            </m-button-group>
        </m-example>
        <m-example header="Mixed Group" description="Groups can be formatted to use multiple button types together">
            <m-button-group>
                <m-button icon="left chevron">Back</m-button>
                <m-button>
                    <m-icon icon="stop"></m-icon>
                    Stop
                </m-button>
                <m-button icon="right chevron" iconPosition="right">Forward</m-button>
            </m-button-group>
        </m-example>
        <m-example header="Equal Width" description="Groups can have their widths divided evenly">
            <m-button-group class="five">
                <m-button>Overview</m-button>
                <m-button>Specs</m-button>
                <m-button>Warranty</m-button>
                <m-button>Reviews</m-button>
                <m-button>Support</m-button>
            </m-button-group>
            <m-divider></m-divider>
            <m-button-group class="three">
                <m-button>Overview</m-button>
                <m-button>Specs</m-button>
                <m-button>Support</m-button>
            </m-button-group>
        </m-example>
        <m-example header="Colored Buttons" description="Groups can have a shared color">
            <m-button-group class="blue">
                <m-button>One</m-button>
                <m-button>Two</m-button>
                <m-button>Three</m-button>
            </m-button-group>
        </m-example>
        <m-example header="Basic Buttons" description="A button group can be less pronounced">
            <m-button-group class="basic">
                <m-button>One</m-button>
                <m-button>Two</m-button>
                <m-button>Three</m-button>
            </m-button-group>
            <m-divider></m-divider>
            <m-button-group class="basic vertical">
                <m-button>One</m-button>
                <m-button>Two</m-button>
                <m-button>Three</m-button>
            </m-button-group>
        </m-example>
        <m-example>
            <m-button-group>
                <m-button color="red" basic>One</m-button>
                <m-button color="blue" basic>Two</m-button>
                <m-button color="green" basic>Three</m-button>
            </m-button-group>
        </m-example>
        <m-example header="Group Sizes" description="Groups can have a shared size">
            <m-button-group class="large">
                <m-button>One</m-button>
                <m-button>Two</m-button>
                <m-button>Three</m-button>
            </m-button-group>
        </m-example>
        <m-example>
            <m-button-group class="small basic">
                <m-icon-button icon="file"></m-icon-button>
                <m-icon-button icon="save"></m-icon-button>
                <m-icon-button icon="upload"></m-icon-button>
                <m-icon-button icon="download"></m-icon-button>
            </m-button-group>
        </m-example>
        <m-example>
            <m-button-group class="large">
                <m-button>One</m-button>
                <m-or></m-or>
                <m-button>Two</m-button>
            </m-button-group>
        </m-example>
    </m-tab>
    <m-tab label="Binding">
        <m-example header="Bind state" description="All button states can be bound" [code]="bindCode">
            <div class="toolbar ui form">
                <div class="three fields">
                    <div class="field">
                        <label>
                            Text
                        </label>
                        <m-input [(value)]="text"></m-input>
                    </div>
                    <!-- <div class="field">
                        <label>
                            Icon
                        </label>
                        <select [(ngModel)]="icon">
                            <option value="">none</option>
                            <option>search</option>
                            <option>users</option>
                        </select>
                    </div>
                    <div clasS="field">
                        <label>&nbsp;</label>
                        <select [(ngModel)]="iconPosition">
                            <option>left</option>
                            <option>right</option>
                        </select>
                    </div> -->
                </div>
                <div class="four fields">
                    <div class="field">
                        <m-toggle [(value)]="loading">Loading</m-toggle>
                    </div>
                    <div class="field">
                        <m-toggle [(value)]="disabled">Disabled</m-toggle>
                    </div>
                    <div class="field">
                        <m-toggle [(value)]="fluid">Fluid</m-toggle>
                    </div>
                </div>
            </div>
            <m-divider></m-divider>
            <m-button [loading]="loading" [disabled]="disabled" [fluid]="fluid">{{text}}</m-button>
        </m-example>
    </m-tab>
    <m-tab label="Events">
        <m-example header="Click event" description="A button with a subscribed click event" [code]="eventCode">
            <m-button (click)="eventClick()">Click me</m-button>
            <div>{{eventMessage}}</div>
        </m-example>
    </m-tab>
</m-tab-group>