<m-semantic-ui-site></m-semantic-ui-site>
<m-semantic-ui-reset></m-semantic-ui-reset>
<m-semantic-ui-theme></m-semantic-ui-theme>

<div class="head">
    <div class="middle">
        <h1>
            mantic UI <a class="ui version label" href="https://github.com/KY-Programming/mantic-ui/releases">{{version}}</a>
        </h1>
        <div class="sub">Angular components for Semantic UI and Fomantic UI</div>
        <div class="buttons">
            <a class="ui button huge inverted" routerLink="/semantic">Semantic UI</a>
            <a class="ui button huge inverted" routerLink="/fomantic">Fomantic UI</a>
        </div>
    </div>
</div>
<div class="striker">
    <span class="strike">Se</span>mantic UI <span class="separate">&</span> <span class="strike">Fo</span>mantic UI
    <span class="separate">=</span> mantic UI
</div>
<div class="texter">
    <h2>Design Beautiful Websites Quickly</h2>
    <p class="highlight">
        mantic UI make use of the fantastic Semantic UI and Fomantic UI frameworks
    </p>
    <p>
        Please support their projects <a class="ui button basic" href="https://semantic-ui.com/" target="_blank">Semantic UI</a> <a class="ui button basic" href="https://fomantic-ui.com/" target="_blank">Fomantic UI</a>
    </p>
</div>
<div class="wip">
    <h2>work-in-progress</h2>
    <p>Currently we are heavily working to get all components and features implemented.</p>
    <p>To support us, visit our <a href="https://github.com/KY-Programming/mantic-ui" target="_blank"><i class="github icon"></i> GitHub Repository</a></p>
</div>
<div class="continue">
    <h3>Read more</h3>
    <div class="buttons">
        <a class="ui button inverted" routerLink="/semantic">Semantic UI Theme for Angular</a>
        <a class="ui button inverted" routerLink="/fomantic">Fomantic UI Theme for Angular</a>
    </div>
</div>

<div class="ui vertical footer segment">
    <div class="ui center aligned container">
        <div class="flex">
            <div class="column">
                <h4 class="ui header">Community</h4>
                <div class="ui link list">
                    <a class="item" href="https://github.com/KY-Programming/mantic-ui/issues" target="_blank">Submit an Issue</a>
                    <a class="item" href="https://github.com/KY-Programming/mantic-ui" target="_blank">GitHub Repo</a>
                    <a class="item" href="https://ky-programming.de/contact" target="_blank">Contact us</a>
                    <a class="item" href="https://discord.mantic-ui.ky-programming.de" target="_blank">Discord</a>
                </div>
            </div>
            <div class="column">
                <h4 class="ui header">About</h4>
                <div class="ui link list">
                    <a class="item" href="https://ky-programming.de/legal-notice">Imprint</a>
                    <a class="item" href="https://ky-programming.de/legal-notice">Data Protection</a>
                </div>
            </div>
            <div class="column">
                <div class="ui link list">
                    <a class="item" href="https://ky-programming.de/" target="_blank">powered by KY-Programming</a>
                </div>
                <!-- <h4 class="ui header">Help Preserve This Project</h4>
                <p> Support for the continued development of Semantic UI comes directly from the community.</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="7ZAF2Q8DBZAQL">
                    <button type="submit" class="ui large teal button">Donate Today</button>
                </form> -->
            </div>
        </div>
        <div class="ui section divider"></div>
        <img src="https://ky-programming.de/assets/images/logos/32.png" class="ui centered mini image">
        <div class="ui horizontal small divided link list">
            <a class="item" href="https://github.com/KY-Programming/mantic-ui/blob/master/LICENSE" target="_blank">Free &amp; Open Source (MIT)</a>
        </div>
    </div>
</div>
