<app-header header="Credits" subHeader="We use these 3d party software"></app-header>

<m-tab-group secondary pointing class="page" selectByRoute>
  <m-tab m-flex="column" label="3d party software">
    @for (entry of licenses; track entry) {
      <m-expander>
        <m-expander-header>
          {{entry.name}}
          @if (entry.licenses.length === 1) {
            - <span class="hint">{{entry.licenses[0].type}}</span>
          }
        </m-expander-header>
        @for (license of entry.licenses; track license) {
          <div>
            <pre>{{license.text}}</pre>
          </div>
        }
      </m-expander>
    }
    @if (isLoading) {
      <m-loader></m-loader>
    }
  </m-tab>
</m-tab-group>
