<h1 m-header>
    Divider
    <div class="sub header">
        A divider visually segments content into groups
    </div>
</h1>
<m-tab-group secondary pointing class="page" selectByRoute>
    <m-tab label="Examples">
        <m-example header="Divider" description="A standard divider">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <m-divider></m-divider>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </m-example>
        <m-example header="Vertical Divider" description="A divider can segment content vertically">
            <m-segment>
                <div class="ui two column very relaxed grid">
                    <div class="column">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="column">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <m-divider class="vertical">
                    and
                </m-divider>
            </m-segment>
        </m-example>
        <m-example header="Horizontal Divider" description="A divider can segment content horizontally">
            <m-segment class="center aligned basic">
                <div class="ui left icon action input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Order #">
                    <div class="ui blue submit button">Search</div>
                </div>
                <m-divider class="horizontal">Or</m-divider>
                <m-button icon="add" color="teal">
                    Create New Order
                </m-button>
            </m-segment>
        </m-example>
    </m-tab>
</m-tab-group>