<h1 m-header>
    Layout
    <div class="sub header">
        A basic layout with menu, content and footer section
    </div>
</h1>

<m-tab-group secondary pointing class="page" selectByRoute>
    <m-tab label="Examples">
        <m-example header="" description="">
            <m-info>These examples use a an <code>iframe</code>, to prevent content from sticking to the browser viewport.</m-info>
            <m-example-frame src="iframe/semantic/layout"></m-example-frame>
        </m-example>
    </m-tab>
</m-tab-group>