<h1 m-header>
    Test
    <div class="sub header">
        Only a test page. Will be removed soon
    </div>
</h1>
<m-tab-group secondary pointing class="page" selectByRoute>
    <m-tab label="Examples">

        <m-button>
            <m-icon icon="heart"></m-icon> Like
            <ng-template #label>
                2,048
            </ng-template>
        </m-button>
        <m-button>
            <m-icon icon="heart"></m-icon> Like
            <m-label basic>
                2,048
            </m-label>
        </m-button>

        <m-input type="text" placeholder="Find domain">
            <m-label-dropdown position="right" value=".com" [items]="['.com', '.net', '.org']"></m-label-dropdown>
        </m-input>
    </m-tab>
</m-tab-group>