<h1 m-header>
    Test
    <div class="sub header">
        Only a test page. Will be removed soon
    </div>
</h1>
<m-tab-group secondary pointing class="page" selectByRoute>
    <m-tab label="Examples">

        <m-input type="text" placeholder="mysite.com">
            <m-label>http://</m-label>
        </m-input>

<!--        <m-input type="text" placeholder="Find domain">-->
<!--            <m-label-dropdown position="right" value=".com" [items]="['.com', '.net', '.org']"></m-label-dropdown>-->
<!--        </m-input>-->
    </m-tab>
</m-tab-group>
