<h1 m-header>
    Tab
    <div class="sub header">
        A tab is a hidden section of content activated by a menu
    </div>
</h1>

<m-tab-group secondary pointing class="page" selectByRoute>
    <m-tab label="Examples">
        <m-example header="Tab" description="A basic tab">
            <m-tab-group>
                <m-tab label="Tab">
                    <img src="/assets/images/paragraph.png">
                </m-tab>
            </m-tab-group>
            <m-example-code [code]="code1"></m-example-code>
        </m-example>


    </m-tab>
    <m-tab label="Variations">
        <m-example header="Set active tab" description="You can hardcode the active tab or bind it">
            <m-tab-group>
                <m-tab label="Bio"></m-tab>
                <m-tab label="Photos" active></m-tab>
            </m-tab-group>
            <m-example-code [code]="code2"></m-example-code>
        </m-example>

        <!--        <m-example>-->
        <!--            <m-tab-group>-->
        <!--                <m-tab label="Bio">-->
        <!--                    <img src="/assets/images/paragraph.png">-->
        <!--                </m-tab>-->
        <!--                <m-tab label="Photos">-->
        <!--                    <img src="/assets/images/media-paragraph.png">-->
        <!--                </m-tab>-->
        <!--                &lt;!&ndash; <m-menu position="right">-->
        <!--                    <m-menu-item>-->
        <!--                        <m-input transparent placeholder="Search..." icon="search link"></m-input>-->
        <!--                    </m-menu-item>-->
        <!--                </m-menu> &ndash;&gt;-->
        <!--            </m-tab-group>-->
        <!--        </m-example>-->

        <m-example header="Menu position" description="The menu position can set to top (default), bottom, left or right">
            <m-tab-group menu="bottom">
                <m-tab label="Active Project"></m-tab>
                <m-tab label="Project #2"></m-tab>
                <m-tab label="Project #3"></m-tab>
                <m-tab label="New Tab" icon="add" active>
                    <img src="/assets/images/paragraph.png">
                </m-tab>
            </m-tab-group>
            <m-example-code [code]="menuBottom"></m-example-code>
        </m-example>

        <m-example>
            <m-tab-group menu="left">
                <m-tab label="Bio">
                    This is an stretched grid column. This segment will always match the tab height
                </m-tab>
                <m-tab label="Pics"></m-tab>
                <m-tab label="Companies"></m-tab>
                <m-tab label="Links"></m-tab>
            </m-tab-group>
            <m-example-code [code]="menuLeft"></m-example-code>
        </m-example>

        <m-example>
            <m-tab-group menu="right">
                <m-tab label="Bio">
                    This is an stretched grid column. This segment will always match the tab height
                </m-tab>
                <m-tab label="Pics"></m-tab>
                <m-tab label="Companies"></m-tab>
                <m-tab label="Links"></m-tab>
            </m-tab-group>
            <m-example-code [code]="menuRight"></m-example-code>
        </m-example>
        <m-example header="Scrollable" description="A scrollable tab">
            <m-tab-group class="scrollable-max-height" scrollable>
                <m-tab label="Scrollable">
                    <img src="/assets/images/paragraph.png">
                    <img src="/assets/images/paragraph.png">
                    <img src="/assets/images/paragraph.png">
                </m-tab>
            </m-tab-group>
            <m-example-code [code]="scrollableCode"></m-example-code>
        </m-example>

        <m-example header="Inverted" description="A tab can be displayed with inverted colors">
            <m-tab-group inverted>
                <m-tab label="One">
                    <img src="/assets/images/paragraph.png">
                    <img src="/assets/images/paragraph.png">
                    <img src="/assets/images/paragraph.png">
                </m-tab>
                <m-tab label="Two"></m-tab>
            </m-tab-group>
            <m-example-code [code]="invertedCode"></m-example-code>
        </m-example>
    </m-tab>
    <m-tab label="States">
        <m-example header="Loading" description="A tab can display a loading indicator">
            <m-tab-group loading style="min-height: 10rem">
                <m-tab label="tab"></m-tab>
            </m-tab-group>
            <m-example-code [code]="loadingCode"></m-example-code>
        </m-example>
    </m-tab>
    <m-tab label="Binding">
        <m-example header="Selected Tab" description="Two-Way-Binding of the selected tabs index" [code]="selectedIndexCode">
            <m-tab-group [(selectedIndex)]="selectedTab">
                <m-tab label="One">Content of One</m-tab>
                <m-tab label="Two">Content of Two</m-tab>
                <m-tab label="Three">Content of Three</m-tab>
            </m-tab-group>
            <m-divider></m-divider>
            <label>Selected Index: </label>
            <m-numeric-input [(value)]="selectedTab" [min]="0" [max]="2"></m-numeric-input>
        </m-example>
    </m-tab>
    <m-tab label="Events">

    </m-tab>
    <!-- <m-tab label="Select by Route">


        const routes: Routes = [
        { path: 'button', redirectTo: 'button/', pathMatch: 'full' },
        { path: 'button/:tab', component: SemanticButtonComponent }
        ...
        ];

    </m-tab> -->
</m-tab-group>
