<h1 m-header>
    Expander
    <div class="sub header">
        Shows or hides content with a header
    </div>
</h1>
<m-tab-group secondary pointing class="page" selectByRoute>
    <m-tab label="Examples">

        <m-example header="A simple expander">
            <m-expander header="A header">Content goes here</m-expander>
            <m-example-code [code]="code1"></m-example-code>
        </m-example>

        <m-example header="Initial expanded">
            <m-expander header="A header" expanded>Content goes here</m-expander>
            <m-example-code [code]="code2"></m-example-code>
        </m-example>


    </m-tab>
</m-tab-group>
