<m-semantic-ui-theme>
    <m-semantic-ui-site></m-semantic-ui-site>
    <m-semantic-ui-reset></m-semantic-ui-reset>
    <m-semantic-ui-lato-local></m-semantic-ui-lato-local>
    <m-semantic-ui-icons-local></m-semantic-ui-icons-local>
</m-semantic-ui-theme>
<!-- <m-menu position="left"> -->
<m-flex class="ui vertical inverted menu">
    <a class="item" [routerLink]="['/']">
        <span class="ui logo icon image">
            <img src="/assets/mantic.png">
        </span>
        <span><b>mantic UI</b></span>
    </a>
    <a class="item active">
        <span class="ui logo icon image">
            <img src="/assets/semantic.png">
        </span>
        <span><b>Semantic UI Angular</b></span>
    </a>
    <a class="item" [routerLink]="['start']" routerLinkActive="active">
        <b>Getting Started</b>
    </a>
    <div class="item">
        <div class="header">
            <a routerLink="/semantic/help" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">How to get help?</a>
        </div>
        <div class="menu">
            <a class="item" routerLink="/semantic/help/contact" routerLinkActive="active">Contact Us</a>
<!--            <a class="item" routerLink="/semantic/help/overview/faq" routerLinkActive="active">FAQ</a>-->
<!--            <a class="item" routerLink="/semantic/help/errors" routerLinkActive="active">Common Errors</a>-->
            <a class="item" href="https://github.com/KY-Programming/mantic-ui">
                Github
                <m-icon icon="external alternate" title="External Link"></m-icon>
            </a>
            <a class="item" href="https://discord.mantic-ui.ky-programming.de">
                Discord
                <m-icon icon="external alternate" title="External Link"></m-icon>
            </a>
        </div>
    </div>
    <a class="item" routerLink="components" routerLinkActive="active">
        <b>All Components</b>
    </a>
    <div class="item">
        <a class="header" routerLink="elements">Elements</a>
        <div class="menu">
            <a class="item" [routerLink]="['button']" routerLinkActive="active">
                Button
            </a>
            <a class="item" [routerLink]="['checkbox']" routerLinkActive="active">
                Checkbox
            </a>
            <a class="item" [routerLink]="['dropdown']" routerLinkActive="active">
                Dropdown
            </a>
            <a class="item" [routerLink]="['header']" routerLinkActive="active">
                Header
            </a>
            <a class="item" [routerLink]="['input']" routerLinkActive="active">
                Input
            </a>
            <a class="item" [routerLink]="['message']" routerLinkActive="active">
                Message
            </a>
            <a class="item" [routerLink]="['radio']" routerLinkActive="active">
                Radio
            </a>
            <a class="item" [routerLink]="['slider']" routerLinkActive="active">
                Slider
            </a>
            <a class="item" [routerLink]="['toggle']" routerLinkActive="active">
                Toggle
            </a>
        </div>
    </div>
    <div class="item">
        <a class="header" routerLink="layouts">Layout</a>
        <div class="menu">
            <a class="item" [routerLink]="['container']" routerLinkActive="active">
                Container
            </a>
            <a class="item" [routerLink]="['divider']" routerLinkActive="active">
                Divider
            </a>
            <a class="item" [routerLink]="['expander']" routerLinkActive="active">
                Expander
            </a>
            <a class="item" [routerLink]="['form']" routerLinkActive="active">
                Form
            </a>
            <a class="item" [routerLink]="['grid']" routerLinkActive="active">
                Grid
            </a>
            <a class="item" [routerLink]="['layout']" routerLinkActive="active">
                Layout
            </a>
            <a class="item" [routerLink]="['menu']" routerLinkActive="active">
                Menu
            </a>
            <a class="item" [routerLink]="['segment']" routerLinkActive="active">
                Segment
            </a>
            <a class="item" [routerLink]="['tab']" routerLinkActive="active">
                Tab
            </a>
        </div>
    </div>
    <div class="item">
        <a class="header" routerLink="specials">Special</a>
        <div class="menu">
            <a class="item" [routerLink]="['context-menu']" routerLinkActive="active">
                Context Menu
            </a>
            <a class="item" [routerLink]="['dimmer']" routerLinkActive="active">
                Dimmer
            </a>
            <a class="item" [routerLink]="['modal']" routerLinkActive="active">
                Modal
            </a>
            <a class="item" [routerLink]="['notification']" routerLinkActive="active">
                Notification
            </a>
        </div>
    </div>
    <div class="item">
        <a class="header" routerLink="utils">Utils</a>
        <div class="menu">
            <a class="item" [routerLink]="['license']" routerLinkActive="active">
                License-To-Json (l2j)
            </a>
            <a class="item" href="https://generator.ky-programming.de/angular/controller" target="_blank">
                KY-Generator for Angular
                <m-icon icon="external alternate" title="External Link"></m-icon>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="header">Missing a Feature?</div>
        <div class="menu">
            <a class="item" routerLink="/semantic/help/feature" routerLinkActive="active">Contact us!</a>
        </div>
    </div>
    <a class="item" (click)="toFomantic()" title="Switch to Fomantic UI Angular">
        <span class="ui logo icon image">
            <img src="/assets/fomantic.png">
        </span>
        <span><b>Fomantic UI Angular</b></span>
    </a>
    <m-fill></m-fill>
    <div class="menu footer">
        <div class="item">
            <a href="https://ky-programming.de/legal-notice">Imprint</a>
            <span>&nbsp;/&nbsp;</span>
            <a href="https://ky-programming.de/legal-notice">Data Protection</a>
            <span>&nbsp;/&nbsp;</span>
            <a [routerLink]="['credits']">Credits</a>
        </div>
    </div>
</m-flex>
<!-- </m-menu> -->
<div class="content">
    <router-outlet></router-outlet>
</div>
