<h1 m-header>
    Toggle
    <div class="sub header">
        A toggle allows a user to select between on or off
    </div>
</h1>

<m-tab-group secondary pointing class="page" selectByRoute>
    <m-tab label="Examples">
        <m-example header="Toggle" description="A standard toggle" [code]="standardCode">
            <m-toggle name="example">Subscribe to weekly newsletter</m-toggle>
        </m-example>

    </m-tab>
    <m-tab label="States">
        <m-example header="Read-only" description="A toggle can be read-only and unable to change states" [code]="readonlyCode">
            <m-toggle readonly>Read Only</m-toggle>
        </m-example>

        <m-example header="Checked" description="A toggle can be checked" [code]="checkedCode">
            <m-toggle checked>Active</m-toggle>
        </m-example>

        <m-example header="Disabled" description="A toggle can be read-only and unable to change states" [code]="disabledCode">
            <m-toggle disabled>Disabled</m-toggle>
        </m-example>
    </m-tab>
    <m-tab label="Variations">
        <m-example header="Fitted" description="A fitted toggle does not leave padding for a label" [code]="fittedCode">
            <m-segment class="left floated">
                <m-toggle fitted></m-toggle>
            </m-segment>
        </m-example>
    </m-tab>
    <m-tab label="Binding">
        <m-example header="Bind state" description="All toggle states can be bound" [code]="bindCode">
            <div class="toolbar ui form">
                <div class="three fields">
                    <div class="field">
                        <label>
                            Text
                        </label>
                        <m-input [(value)]="text"></m-input>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <m-toggle [(value)]="readonly">Read Only</m-toggle>
                    </div>
                    <div class="field">
                        <m-toggle [(value)]="checked">Checked</m-toggle>
                    </div>
                    <div class="field">
                        <m-toggle [(value)]="disabled">Disabled</m-toggle>
                    </div>
                </div>
            </div>
            <m-divider></m-divider>
            <m-toggle [readonly]="readonly" [(checked)]="checked" [disabled]="disabled">{{text}}</m-toggle>
        </m-example>
    </m-tab>
</m-tab-group>