<h1 class="ui header">
    Dropdown
    <div class="sub header">
        A dropdown allows a user to select a value from a series of options
    </div>
</h1>
<m-divider></m-divider>

<h2 class="ui dividing header">Types</h2>
<m-example header="Dropdown" description="A dropdown" type="html">

</m-example>

<m-example header="Selection" description="A dropdown can be used to select between choices in a form" type="html" [code]="code1">
    <m-dropdown placeholder="Gender" [(value)]="value1">
        <m-dropdown-item [value]="1">Male</m-dropdown-item>
        <m-dropdown-item [value]="0">Female</m-dropdown-item>
    </m-dropdown>
    <span *ngIf="value1 !== undefined" class="result">Result: {{value1}}</span>
</m-example>

<m-example>
    <m-dropdown placeholder="Select Friend" fluid>
        <m-dropdown-item value="jenny">
            <img class="ui mini avatar image" src="/assets/images/avatar/small/jenny.jpg">
            Jenny Hess
        </m-dropdown-item>
        <m-dropdown-item value="elliot">
            <img class="ui mini avatar image" src="/assets/images/avatar/small/elliot.jpg">
            Elliot Fu
        </m-dropdown-item>
        <m-dropdown-item value="stevie">
            <img class="ui mini avatar image" src="/assets/images/avatar/small/stevie.jpg">
            Stevie Feliciano
        </m-dropdown-item>
        <m-dropdown-item value="christian">
            <img class="ui mini avatar image" src="/assets/images/avatar/small/christian.jpg">
            Christian
        </m-dropdown-item>
        <m-dropdown-item value="matt">
            <img class="ui mini avatar image" src="/assets/images/avatar/small/matt.jpg">
            Matt
        </m-dropdown-item>
        <m-dropdown-item value="justen">
            <img class="ui mini avatar image" src="/assets/images/avatar/small/justen.jpg">
            Justen Kitsune
        </m-dropdown-item>
    </m-dropdown>
</m-example>

<m-example header="Search Selection" description="A selection dropdown can allow a user to search through a large list of choices">
    <m-dropdown placeholder="Select Country" fluid search>
        <m-dropdown-item *ngFor="let country of countries" [value]="country.value">
            <i class="{{country.value}} flag"></i> {{country.text}}
        </m-dropdown-item>
    </m-dropdown>
</m-example>