<!-- <m-menu> -->
<div class="ui vertical inverted menu">
    <a class="item" [routerLink]="['/']">
        <span class="ui logo icon image">
            <img src="/assets/mantic.png">
        </span>
        <span><b>mantic UI</b></span>
    </a>
    <a class="item" (click)="toSemantic()" title="Switch to Semantic UI Angular">
        <span class="ui logo icon image">
            <img src="/assets/semantic.png">
        </span>
        <span><b>Semantic UI Angular</b></span>
    </a>
    <a class="item active">
        <span class="ui logo icon image">
            <img src="/assets/fomantic.png">
        </span>
        <span><b>Fomantic UI Angular</b></span>
    </a>
    <a class="item" [routerLink]="['start']" routerLinkActive="active">
        <b>Getting Started</b>
    </a>
    <div class="item">
        <div class="header">Elements</div>
        <div class="menu">
            <a class="item" [routerLink]="['button']" routerLinkActive="active">
                Button
            </a>
            <a class="item" [routerLink]="['divider']" routerLinkActive="active">
                Divider
            </a>
            <a class="item" [routerLink]="['input']" routerLinkActive="active">
                Input
            </a>
        </div>
    </div>
</div>
<!-- </m-menu> -->
<div class="content">
    <router-outlet></router-outlet>
</div>
<!--<m-fomantic-ui-theme></m-fomantic-ui-theme>-->
<m-semantic-ui-theme>
    <m-semantic-ui-site></m-semantic-ui-site>
    <m-semantic-ui-reset></m-semantic-ui-reset>
    <m-semantic-ui-lato-local></m-semantic-ui-lato-local>
    <m-semantic-ui-icons-local></m-semantic-ui-icons-local>
</m-semantic-ui-theme>
<m-modal *ngIf="showThemeWarning" header="Fomantic UI Theme not yet ready" (close)="showThemeWarning = false">
    The Fomantic UI theme is not yet implemented. Please use the Semantic UI Theme
    <m-modal-footer>
        <m-button (click)="showThemeWarning = false">Ignore</m-button>
        <a m-button primary routerLink="/semantic">Go to Semantic UI Theme</a>
    </m-modal-footer>
</m-modal>
