<m-menu position="top" fixed>
    <m-menu-item>
        <img src="/assets/mantic.png">
    </m-menu-item>
    <a m-menu-item>Features</a>
    <a m-menu-item>Testimonials</a>
    <a m-menu-item>Sign-in</a>
</m-menu>
<img src="/assets/images/paragraph.png">
<img src="/assets/images/paragraph.png">
<m-menu position="bottom" fixed>
    <m-menu-item>
        <img src="/assets/mantic.png">
    </m-menu-item>
    <a m-menu-item>Features</a>
    <a m-menu-item>Testimonials</a>
    <a m-menu-item>Sign-in</a>
</m-menu>