:host {
    display: flex;
    height: 100%;
}

m-flex.ui.vertical.menu {
    display: flex;
}

// m-menu {
//     display: flex;
//     flex: 0 0 auto;

.ui.menu {
    border-radius: 0;

    display: flex;
    flex: 0 0 auto;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;

    &.vertical {
        width: 16rem;
    }

    .item .header:not(.ui) {
        display: block;
    }
}

.ui.logo {
    width: 35px;
    margin-right: 1em;
}

// }

.footer {
    font-size: 0.75em;
}

.content {
    position: relative;
    padding: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.actions {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    .ui.button {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}
