:host {
    display: flex;
    height: 100%;
}

.expander {
    position: absolute;
    top: 0;
    left: 16rem;
    background-color: #1B1C1D;
    color: white;
    z-index: 999;
    width: 32px;
    height: 32px;
    border-bottom-right-radius: 8px;
    cursor: pointer;

    m-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:not(.expanded) {
        left: 0;

        m-icon {
            transform: translate(-50%, -50%) rotate(180deg);
        }
    }
}

m-flex.ui.vertical.menu {
    display: flex;

    &:not(.expanded) {
        width: 0;
    }
}

// m-menu {
//     display: flex;
//     flex: 0 0 auto;

.ui.menu {
    border-radius: 0;

    display: flex;
    flex: 0 0 auto;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;

    &.vertical {
        width: 16rem;
    }

    .item .header:not(.ui) {
        display: block;
    }
}

.ui.logo {
    width: 35px;
    margin-right: 1em;
}

// }

.footer {
    font-size: 0.75em;
}

.content {
    position: relative;
    padding: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.actions {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    .ui.button {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}
