<app-header header="Template" subHeader="An component to project content from anywhere in your app to somewhere else" />

<m-tab-group secondary pointing class="page" selectByRoute>
  <m-tab label="Examples">
    <m-example header="Template" description="A default template projection with template and outlet">
      <m-template name="my.template.id">
        This content is projected
      </m-template>
      <m-segment>
        <m-template-outlet name="my.template.id" />
        to here
      </m-segment>
      <m-example-code [code]="code1" />
    </m-example>

    <m-example header="Multiple Template for one outlet" description="Multiple templates can stack on one outlet. Only the last template is rendered">
      @if (!showA) {
        <m-button primary (click)="showA = true">Show A</m-button>
      }
      @if (showA) {
        <m-button primary (click)="showA = false">Hide A</m-button>
      }
      @if (showA) {
        <m-template name="stacked-templates">A is the best.</m-template>
      }
      @if (!showB) {
        <m-button secondary (click)="showB = true">Show B</m-button>
      }
      @if (showB) {
        <m-button secondary (click)="showB = false">Hide B</m-button>
      }
      @if (showB) {
        <m-template name="stacked-templates">B is even better!</m-template>
      }
      @if (!showC) {
        <m-button positive (click)="showC = true">Show C</m-button>
      }
      @if (showC) {
        <m-button positive (click)="showC = false">Hide C</m-button>
      }
      @if (showC) {
        <m-template name="stacked-templates">C is the is the bestestestest!!1!!</m-template>
      }
      <m-template name="stacked-templates">No result available. Press a button</m-template>
      <m-segment>
        <div>Result:</div>
        <m-template-outlet name="stacked-templates" />
      </m-segment>
      <m-example-code [code]="code2" />
    </m-example>

    <m-example header="Hide wrapper on empty template" description="It is possible to hide a wrapping element when the template is not set">
      @if (!visible) {
        <m-button primary (click)="visible = true">Show</m-button>
      }
      @if (visible) {
        <m-button primary (click)="visible = false">Hide</m-button>
      }
      @if (visible) {
        <m-template name="onlyFilledTemplates">
          This content is projected and also hides it wrapping m-segment
        </m-template>
      }
      <m-segment *mHideOnEmptyTemplate="'onlyFilledTemplates'">
        <m-template-outlet name="onlyFilledTemplates" />
      </m-segment>
      <m-example-code [code]="code3" />
    </m-example>
  </m-tab>
</m-tab-group>
